.navBox {
  display: flex;
  padding: 15px 30px;
  gap: 15px;
  box-shadow: 0 4px 10px -5px;
}

.navBox a {
  text-decoration: none;
  color: var(--black);
  font-size: 22px;
  align-content: center;
}

.navBox a:hover {
  text-decoration: underline;
  color: var(--red);
}
